html {
    background-color: #033025;
}

body {
    width: 1300px;
    margin: 0 auto;
    background-color: #cffcf1;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    margin-top: 20px;
}

h1 {
    border: 2px solid gray;
    margin-left: 35%;
    width: 400px;
    text-align: center;
    background-color: orange;
    color: white;
}

h2 {
    color: #050561;
}

p {
    font-size: 17px;
    font-family:cursive;
}

#evaluate {
    font-family: cursive;
    font-size: 17px;
    text-align: center;
}

ul {
    list-style-type:none;
}

li {
    float: left;
    border: 3px solid black;
    background-color: black;
    margin-right: 100px;
}

.photo {
    border: 3px solid black;
}

.belowimg {
    text-align: center;
    color:lightgray;
}

.clear {
    clear: both;
}

table {
    border: 2px solid black;
    font-family:inherit;
    
}

th,td {
    border: 2px solid black;
}

th {
    background-color: #080891;
    color: white;
}

iframe {
    float: left;
    margin-right: 100px;
}

table {
    font-size: 18px;
    margin-left: 28%;
}