body {
    background-color: lightblue;
}

h1 {
    border: 2px solid gray;
    margin-left: 40%;
    width: 400px;
    text-align: center;
    background-color: orange;
    color: white;
}

p {
    font-size: 17px;
    font-family:cursive;
}

#evaluate {
    font-family: cursive;
    font-size: 17px;
    text-align: center;
}

ul {
    list-style-type:none;
}

li {
    float: left;
    border: 1px solid black;
    background-color: black;
    margin-right: 100px;
}

img {
    width=300px;
    height=200px;
}

.belowimg {
    text-align: center;
    color:lightgray;
}

.clear {
    clear: both;
}

table {
     border: 2px solid black;
}

th,td {
     border: 2px solid black;
}

iframe {
    float: left;
    margin-right: 100px;
}